*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App{
  width: 500px;
  padding: 40px;
  background: #4d245d;
  color: #fff;
}

.header h1{
  text-align: center;
  padding: 10px 0;
}
.header p{
  text-align: center;
  margin-bottom: 20px;
}


.book-list ul li{
  display: block;
  padding: 15px;
  background: #321040;
  margin-bottom: 10px;
  cursor: pointer;
}
.book-list ul li:hover{
  background: #291033;
}
.no-books{
  background: #b12626;
  margin-bottom: 20px;
  padding: 10px;
}

.book-form{
  display: block;
}
.book-form input{
  width: 80%;
  padding: 10px;
  color: #fff;
  border:none;
  display: block;
  background: #270f31;
  margin-bottom:10px;
}
.book-form input:focus{
  outline: none;
  background: #340e44;
  color: #fff;
}
.book-form button{
  width: 30%;
  padding: 10px;
  color: #fff;
  border:none;
  display: block;
  background: #281131;
}